[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
twine = "*"
Sphinx = "*"
pytest = "*"
flake8 = "*"
pre-commit = "*"
coverage = "*"
mypy = "*"
pylint = "*"
renku-sphinx-theme = "*"
rinohtype = "*"

[packages]
anytree = "*"

[requires]
python_version = "3.7"
